<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>
        <%= current_page.data.title || "GO-JEK" %>
    </title>
    <%= favicon_tag 'logo.png' %>
    <!-- Preemptively open up connections for external assets -->
    <link rel="preconnect" href="//fonts.googleapis.com">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
    <%= stylesheet_link_tag :index %>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GO-JEK">
    <meta name="twitter:domain" content="www.gojekengineering.com">
    <meta name="twitter:creator" content="@GO-JEK">
    <meta name="twitter:title" content="GO-JEK">
    <meta name="twitter:image" content="www.gojekengineering.com/assets/images/logo.png">

    <meta property="og:url" content="http://gojekengineering.com" />
    <meta property="og:type" content="Engineering Website" />
    <meta property="og:title" content="GO-JEK" />
    <meta property="og:description" content="GO-JEK is Indonesia’s first unicorn is currently the fastest growing start-up in South Asia and the largest in Indonesia in terms of valuation, funding raised and a number of transactions." />
    <meta property="og:image" content="www.gojekengineering.com/assets/images/logo.png" />

    <meta name="apple-mobile-web-app-title" content="GO-JEK">
    <meta name="description" content="GO-JEK is Indonesia’s first unicorn is currently the fastest growing start-up in South Asia and the largest in Indonesia in terms of valuation, funding raised and a number of transactions.">
    <link rel="canonical" href="http://gojekengineering.com">
</head>

<body class="<%= page_classes %>">
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
    <%= partial 'partials/ga' %>
    <%= partial 'partials/slider' %>
</body>

</html>