<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <title>
        <%= current_page.data.title || "Go-jek" %>
    </title>
    <%= favicon_tag 'logo.png' %>
        <!-- Preemptively open up connections for external assets -->
        <link rel="preconnect" href="//fonts.googleapis.com">
        <link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
        <script src="../assets/scripts/index.js"></script>
        <%= stylesheet_link_tag :index %>
</head>

<body class="<%= page_classes %>">
    <%= partial 'partials/header' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
</body>

</html>