<div class="navbar">
  <div class="container">
    <a href="/"><%= image_tag "logo.svg", :class => 'navbar__logo' %></a>
    <div class="navbar__menu">
      <!--li class="navbar__menu__item <%= is_page_active('/about/') %>">
                <%= link_to 'About', '/about.html' %>
            </li-->
      <li class="navbar__menu__item <%= is_page_active('/career/') %>">
        <%= link_to 'Careers', '/careers.html' %>
      </li>
      <li class="navbar__menu__item <%= is_page_active('/blog/') %>">
        <%= link_to 'Blog', 'http://blog.gojek.io', :target => '_blank' %>
      </li>
      <li class="navbar__menu__item <%= is_page_active('/github/') %>">
        <%= link_to 'Open Source', 'https://github.com/gojek-engineering', :target => '_blank' %>
      </li>
      <li class="navbar__menu__item <%= is_page_active('/news/') %>">
        <%= link_to 'News', '/news.html' %>
      </li>
      <li class="navbar__menu__item <%= is_page_active('/contact/') %>">
        <%= link_to 'contact', '/contact.html' %>
      </li>
    </div>
    <div class="navbar__menu__slider">
      <p class="menu-button" data-activates="slideout">
        <%= image_tag "menu.svg", :class => 'menu-image' %>
      </p>
      <div class="slider slider--right" id="slideout">
        <ul class="menu">
          <!--li class="navbar__menu__item <%= is_page_active('/about/') %>">
                        <%= link_to 'About', '/about.html' %>
                    </li-->
          <li class="navbar__menu__item <%= is_page_active('/career/') %>">
            <%= link_to 'Careers', '/careers.html' %>
          </li>
          <li class="navbar__menu__item <%= is_page_active('/blog/') %>">
            <%= link_to 'Blog', 'http://blog.gojek.io', :target => '_blank' %>
          </li>
          <li class="navbar__menu__item <%= is_page_active('/github/') %>">
            <%= link_to 'Open Source', 'https://github.com/gojek-engineering', :target => '_blank' %>
          </li>
          <li class="navbar__menu__item <%= is_page_active('/news/') %>">
            <%= link_to 'News', '/news.html' %>
          </li>
          <li class="navbar__men xbu__item <%= is_page_active('/contact/') %>">
            <%= link_to 'Contact', '/contact.html' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
