<div class="aboutpage">
  <div class="container p-t-160">
    <div class="aboutpage__center-heading m-b-120">
      <p class="heading heading--l">IT ALL STARTED FROM INDONESIA</p>
      <%= image_tag "aboutpage/driver.svg", :class => 'aboutpage__cover' %>
    </div>
    <div class="aboutpage__info">
      <p class="heading text-center">Be Part of Something Big</p>
      <p>We believe in creating infinite opportunities to unleash social impact through technology. Do you share
        the same belief?</p>
      <p>GO-JEK is Indonesia’s first unicorn is currently the fastest growing start-up in South Asia and the
        largest in Indonesia in terms of valuation, funding raised and a number of transactions. Having started
        as a bike-taxi hailing business, the start-up grew more than 900X (that’s 90,000%) in just 18 months and
        diversified into food delivery, one-hour courier delivery, grocery delivery and has even aggregated
        trucks on its platform.</p>
      <p>It has partnered with over 300,000 motorbikes and car drivers and 5,000 trucks across Indonesia, all of
        whom, collectively cover an average distance of 7 million kilometers each day.</p>
      <p>GO-JEK Engineering is a product development and training center of GO-JEK. The GO-JEK Engineering team
        comprises of developers, data scientists, designers and product managers who work on product innovation,
        mining data and crafting consumer experiences. The company takes pride in its world-class product
        engineering team who have a deep-rooted passion for working with the engineering community in India on
        topics such as innovation and Open Source.</p>
    </div>
    <div class="aboutpage__wall">
      <div class="pure-g">
        <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
          <%= image_tag "aboutpage/image1.jpg", :class => 'aboutpage__wall__image' %>
        </div>
        <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
          <%= image_tag "aboutpage/image2.jpg", :class => 'aboutpage__wall__image' %>
        </div>
        <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
          <%= image_tag "aboutpage/image3.jpg", :class => 'aboutpage__wall__image' %>
        </div>
        <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
          <%= image_tag "aboutpage/image4.jpg", :class => 'aboutpage__wall__image' %>
        </div>
      </div>
    </div>
    <div class="aboutpage__info">
      <p class="heading text-center">Our Engineering Values</p>
      <p class="heading--s m-b-10">Fast & Furious</p>
      <p>Every engineer on our crew rides on cutting edge technology from Day One! Our tech stack consists of
        Clojure, Java, Ruby and Golang. We execute on Lean Software Development and Queueing theory. Our
        distributed teams build software to handle massive scale and rate of growth and are distributed across
        India, Singapore and Indonesia.</p>
      <p class="heading--s m-b-10">Never Ending Learning</p>
      <p>We build for the love of building. We learn for the love of learning. We understand that capable,
        committed people are 10-100X more productive. We contribute to open source, host regular tech talks,
        hackathons and meetups to empower the entire community with the opportunity to refine their craft.</p>
    </div>
  </div>
</div>
