<div class="careerpage p-t-160">
    <div class="container">
        <p class="heading heading--l text-center ">WE LOVE BUILDING BEAUTIFUL THINGS</p>
        <p class="text-center m-b-90">Beautiful things make our customers lives better</p>
        <div class="careerpage__cover m-b-120"></div>
        <!-- <p class="heading">Perks of joining GO-JEK</p>
        <p class="m-b-60">Welcome to the GO-JEK benefits for new joiners.. If you’re planning to join us, take a look around. We care our employees.</p>
        <div class="m-b-90">
            <div class="pure-g pure-g--gutter">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Broadband Bill</p>
                        <p class="careerpage__benefits__desc">This policy is formulated to support employees by providing Broadband Internet connections at their homes for official and personal use.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Mobile Bill</p>
                        <p class="careerpage__benefits__desc">Employees will be provided a corporate mobile connection which can be for both business and personal purposes but the facility is largely intended for business purposes.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Health & Wellness Bills</p>
                        <p class="careerpage__benefits__desc">This policy was introduced to encourage our employees to take up activities that promote healthy living, and emotional and psychological well-being.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Book Bills</p>
                        <p class="careerpage__benefits__desc">This policy has been devised to assist employees to purchase and subscribe to technical or non-technical books/CDs, journals, magazines and other work related resources in support of personal and competency development.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Relocation Benefits</p>
                        <p class="careerpage__benefits__desc">The Relocation policy is designed to provide financial and administrative assistance to candidates relocating from their current location to GO-JEK office location in order to maximize their performance and minimize their inconvenience.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <div class="careerpage__benefits">
                        <p class="heading">Employee Health</p>
                        <p class="careerpage__benefits__desc">This insurance coverage to all employees & their dependents for expenses related to hospitalisation due to illness, disease or injury that is curative in nature.</p>
                    </div>
                </div>
            </div>
        </div> -->
        <p class="heading">Life at GO-JEK</p>
        <p class="m-b-60">We focus on getting better at our craft, sustainably, so we can make our customers lives better.</p>
        <div class="m-b-90">
            <div class="pure-g pure-g--gutter_wide">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image1.jpg", :class => 'go-life__image' %>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image2.jpg", :class => 'go-life__image' %>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image3.jpg", :class => 'go-life__image' %>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image4.jpg", :class => 'go-life__image' %>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image5.jpg", :class => 'go-life__image' %>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                    <%= image_tag "careerpage/image6.jpg", :class => 'go-life__image' %>
                </div>
            </div>
        </div>
        <p class="heading">Open positions</p>
        <p class="m-b-30">We're looking for passionate, opinionated and hands-on makers.</p>
        <div class="m-b-90">
            <div class="pure-g pure-g--gutter">
                <% data.jobs.jobs.each_with_index do |f, index| %>
                  <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-3">
                      <p class="heading m-b-10 text-cap"><%= f.title %></p>
                      <p class="m-b-30 text-cap"><%= f.location %></p>
                      <p class="button m-b-60" name="mymodal_<%= index %>">View</p>
                      <div class="modal" id="mymodal_<%= index %>">
                          <div class="container modal__box">
                              <%= image_tag "closebutton.svg", :class => 'modal__close modal__close__button pull-right' %>
                              <div class="job-detail">
                                  <div class="job-detail__header text-center m-b-90">
                                      <p class="heading m-0 text-cap"><%= f.title %></p>
                                      <p class="m-b-30 text-cap"><%= f.location %></p>
                                      <a href="mailto:work@go-jek.com?Subject=<%= f.title %>" class="button button--primary">Apply</a>
                                  </div>
                                  <div class="job-detail__responsibility m-b-60">
                                      <p class="heading--s">Responsibilities</p>
                                      <ul>
                                        <% f.responsibilities.each do |rs| %>
                                          <li><%= rs %></li>
                                        <% end %>
                                      </ul>
                                      
                                  </div>
                                  <div class="job-detail__requirement m-b-60">
                                      <p class="heading--s">Requirements</p>
                                      <ul>
                                        <% f.requirements.each do |rq| %>
                                          <li><%= rq %></li>
                                        <% end %>  
                                      </ul>
                                      
                                  </div>
                                  <a href="mailto:work@go-jek.com?Subject=<%= f.title %>" class="button button--primary">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
                <% end %>
            </div>
        </div>
        <p class="heading text-center m-v-140">Your profile doesn't fit a box? Don't worry. <%= link_to 'Drop us a message.', '/contact.html', :class => 'flat-link' %></p>
    </div>
</div>
<script>
    // Skeleton

    // Modal Component

    //  logic for modal

    // close modal window
    function modalClose() {
        document.getElementsByClassName('modal show')[0].classList.remove('show');
        document.body.classList.remove('overflow--hide');
    }

    // logic for connecting modal window to respective buttons
    function modalHandler() {
        var modals = document.getElementsByClassName('modal');
        for (var i = 0; i < modals.length; i++) {
            var modalName = modals[i].getAttribute('id');
            var closeButtons = modals[i].getElementsByClassName('modal__close');

            // for showing modal window
            document.querySelectorAll('[name=' + modalName + ']')[0].onclick = function(event) {
                event.stopPropagation();
                event.preventDefault();
                var name = this.getAttribute('name');
                document.getElementById(name).classList.add('show');
                document.body.classList.add('overflow--hide');

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function(event) {
                    if (document.querySelectorAll('.modal.show').length) {
                        if (event.target === document.getElementsByClassName('modal show')[0]) {
                            modalClose();
                            window.onclick = null;
                        }
                    }
                };
            };

            // for closing modal window
            if (closeButtons.length === 1) {
                closeButtons[0].onclick = function() {
                    modalClose();
                };
            } else {
                for (var j = 0; j < closeButtons.length; j++) {
                    closeButtons[j].onclick = function() {
                        modalClose();
                    };
                }
            }
        }
    }

    //  close the modal window on esc key
    document.addEventListener('keyup', function(e) {
        if (e.keyCode === 27) {
            modalClose();
        }
    });

    modalHandler();
</script>