<div class="map-viz">
    <p class="heading text-center map-viz__title">Moving people with technology</p>
</div>
<div class="homepage">
    <div class="container">
        <p class="heading text-center m-b-60">Our engineering values</p>
        <div class="pure-g">
            <div class="pure-u-1-3">
                <div class="homepage__values">
                    <p class="heading--m">Fast & Furious</p>
                    <p>Every engineer on our crew rides on cutting edge technology from Day One! Our tech stack consists of Clojure, Java, Ruby and Golang. We execute on Lean Software Development and Queueing theory. Our distributed teams build software to handle massive scale and rate of growth, and are distributed across India, Singapore and Indonesia.</p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="homepage__values m-auto">
                    <p class="heading--m">Never Ending Learning</p>
                    <p>We build for the love of building. We learn for the love of learning. We understand that capable, committed people are 10-100X more productive. We contribute to open source, host regular tech talks, hackathons and meetups to empower the entire community with the opportunity to refine their craft.</p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="homepage__values pull-right">
                    <p class="heading--m">Fast & Furious</p>
                    <p>Every engineer on our crew rides on cutting edge technology from Day One! Our tech stack consists of Clojure, Java, Ruby and Golang. We execute on Lean Software Development and Queueing theory. Our distributed teams build software to handle massive scale and rate of growth, and are distributed across India, Singapore and Indonesia.</p>
                </div>
            </div>
        </div>
        <div class="homepage__indonesia m-v-140">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div>
                        <p class="heading">3000000 Drivers</p>
                        <p>Our fleet of 300k drivers collectively cover an average of 4.5 million kilometres - that’s more than 7 round trips to the moon - daily.</p>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <%= image_tag "indonesia.png", :class => 'homepage__indonesia__map'%>
                </div>
            </div>
        </div>
        <p class="heading text-center m-b-90">Our impacts for indonesia</p>
        <div class="pure-g pure-g--gutter_wide">
            <div class="pure-u-1-3">
                <div class="homepage__impacts">
                    <%= image_tag "homepage/apiviz.svg", :class => 'homepage__impacts__viz m-b-10' %>
                    <p class="text-center heading--m">At lowest we do 12mn API calls, on an average around 30mn, at peak around 96mn API calls per second internally</p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="homepage__impacts m-auto">
                    <%= image_tag "homepage/distanceviz.png", :class => 'homepage__impacts__viz m-b-10' %>
                    <p class="text-center heading--m">45,00,000 km of daily travel</p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="homepage__impacts pull-right">
                    <%= image_tag "homepage/allocationviz.svg", :class => 'homepage__impacts__viz m-b-10' %>
                    <p class="text-center heading--m">40,000 concurrent worker processes for driver allocation</p>
                </div>
            </div>
        </div>
        <div class="m-v-140">
            <div class="pure-g">
                <div class="pure-u-1-2">
                    <div class="homepage__videos m-r-20">
                        <div id="player2"></div>
                        <div class="playbutton playbutton--s" id="js-playbutton2" style="display: block;">
                            <%= image_tag "playbutton.svg", :class => ''%>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1-2">
                    <div class="homepage__videos m-l-20">
                        <div id="player3"></div>
                        <div class="playbutton playbutton--s" id="js-playbutton3" style="display: block;">
                            <%= image_tag "playbutton.svg", :class => ''%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="heading text-center m-v-140">We at Go-jek are touching people soul by using power of technology</p>
    </div>
</div>
<script>
    // 1. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // 2. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player1, player2, player3;

    function onYouTubeIframeAPIReady() {
        player1 = new YT.Player('player1', {
            height: '100%',
            width: '100%',
            videoId: 'cT4ayHgaxZ0',
            events: {
                'onStateChange': onPlayerOneChange
            }
        });

        player2 = new YT.Player('player2', {
            height: '100%',
            width: '100%',
            videoId: 'xpGWYN5kmdM',
            events: {
                'onStateChange': onPlayerTwoChange
            }
        });

        player3 = new YT.Player('player3', {
            height: '100%',
            width: '100%',
            videoId: 'Jj7PK05_Ow4',
            events: {
                'onStateChange': onPlayerThreeChange
            }
        });

        document.getElementById('js-playbutton1').onclick = function() {
            player1.playVideo();
            var state = this.style.display;
            if (state === 'block') {
                this.style.display = 'none';
            } else {
                this.style.display = 'block';
            }
        };

        function onPlayerOneChange(event) {
            if (event.data == YT.PlayerState.PAUSED) {
                document.getElementById('js-playbutton1').style.display = 'block';
            }
            if (event.data == YT.PlayerState.PLAYING) {
                document.getElementById('js-playbutton1').style.display = 'none';
            }
        }

        document.getElementById('js-playbutton2').onclick = function() {
            player2.playVideo();
            var state = this.style.display;
            if (state === 'block') {
                this.style.display = 'none';
            } else {
                this.style.display = 'block';
            }
        };

        function onPlayerTwoChange(event) {
            if (event.data == YT.PlayerState.PAUSED) {
                document.getElementById('js-playbutton2').style.display = 'block';
            }
            if (event.data == YT.PlayerState.PLAYING) {
                document.getElementById('js-playbutton2').style.display = 'none';
            }
        }

        document.getElementById('js-playbutton3').onclick = function() {
            player1.playVideo();
            var state = this.style.display;
            if (state === 'block') {
                this.style.display = 'none';
            } else {
                this.style.display = 'block';
            }
        };

        function onPlayerThreeChange(event) {
            if (event.data == YT.PlayerState.PAUSED) {
                document.getElementById('js-playbutton3').style.display = 'block';
            }
            if (event.data == YT.PlayerState.PLAYING) {
                document.getElementById('js-playbutton3').style.display = 'none';
            }
        }
       
    }
</script>