<div class="map-viz">
    <p class="heading heading--l text-center map-viz__title">Moving people with technology</p>
</div>
<div class="homepage">
    <div class="container">
        <p class="heading text-center m-b-60">Opportunities that you will have</p>
        <div class="pure-g pure-g--gutter_wide">
            <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                <div class="homepage__list">
                    <%= image_tag "homepage/icon1.png", :class => 'homepage__icon'%>
                        <p class="heading--m">TO INNOVATE</p>
                        <p>You will have the opportunity to re-write the rules and act like a scientist, using data as arguments and finding solutions in unlikely places.</p>
                </div>
            </div>
            <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                <div class="homepage__list">
                    <%= image_tag "homepage/icon2.png", :class => 'homepage__icon'%>
                        <p class="heading--m">TO RAISE THE BAR</p>
                        <p>You will continuously get new challenges to build your own path and shoot for greatness. You can go fast and fearless.</p>
                </div>
            </div>
            <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                <div class="homepage__list">
                    <%= image_tag "homepage/icon3.png", :class => 'homepage__icon'%>
                        <p class="heading--m">TO COLLABORATE</p>
                        <p>You will get to work with people whom you will love because we respect each other, show compassion, collaborate and align.</p>
                </div>
            </div>
            <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                <div class="homepage__list">
                    <%= image_tag "homepage/icon4.png", :class => 'homepage__icon'%>
                        <p class="heading--m">TO DRIVE IMPACT</p>
                        <p>You will get the chance to enrich the lives of millions of Indonesians everyday by continuously creating, growing and improving.</p>
                </div>
            </div>
        </div>
        <div class="homepage__wall">
            <div class="pure-g">
                <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                    <%= image_tag "homepage/image1.jpg", :class => 'homepage__wall__image'%>
                </div>
                <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                    <%= image_tag "homepage/image2.jpg", :class => 'homepage__wall__image'%>
                </div>
                <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                    <%= image_tag "homepage/image3.jpg", :class => 'homepage__wall__image'%>
                </div>
                <div class="pure-u-lg-1-4 pure-u-md-1-2 pure-u-sm-1">
                    <%= image_tag "homepage/image4.jpg", :class => 'homepage__wall__image'%>
                </div>
            </div>
        </div>
        <div class="homepage__indonesia m-v-140">
            <div class="pure-g">
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
                    <div class="homepage__indonesia__info">
                        <p class="heading--m">3000000 Drivers</p>
                        <p>Our fleet of 300k drivers collectively cover an average of 4.5 million kilometres - that’s more than 7 round trips to the moon - daily.</p>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-2 pure-u-xl-1-2">
                    <img src="assets/images/homepage/indonesia.png" class="homepage__indonesia__map" alt="Indonesia">
                </div>
            </div>
        </div>
        <p class="heading text-center m-b-90">Our impacts in indonesia</p>
        <div class="pure-g pure-g--gutter_wide">
            <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3">
                <div class="homepage__impacts">
                    <%= image_tag "homepage/apiviz.svg", :class => 'homepage__impacts__viz m-b-10' %>
                        <p class="text-center heading--m">At lowest we do 12mn API calls, on an average around 30mn, at peak around 96mn API calls per second internally</p>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3">
                <div class="homepage__impacts m-auto">
                    <%= image_tag "homepage/distanceviz.png", :class => 'homepage__impacts__viz m-b-10' %>
                        <p class="text-center heading--m">We cover an average of 4.5 million kilometres daily - that’s more than 7 round trips to the moon.</p>
                </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 pure-u-lg-1-3 pure-u-xl-1-3">
                <div class="homepage__impacts pull-right">
                    <%= image_tag "homepage/allocationviz.svg", :class => 'homepage__impacts__viz m-b-10' %>
                        <p class="text-center heading--m">For drivers allocating we run around 40,000 concurrent workers processes</p>
                </div>
            </div>
        </div>
        <div class="m-v-140">
            <div class="pure-g pure-g--gutter_wide">
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
                    <div class="homepage__videos">
                        <div id="player2"></div>
                        <div class="playbutton playbutton--s" id="js-playbutton2" style="display: block;">
                            <%= image_tag "playbutton.svg", :class => ''%>
                        </div>
                    </div>
                </div>
                <div class="pure-u-1 pure-u-lg-1-2 pure-u-xl-1-2">
                    <div class="homepage__videos">
                        <div id="player3"></div>
                        <div class="playbutton playbutton--s" id="js-playbutton3" style="display: block;">
                            <%= image_tag "playbutton.svg", :class => ''%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="heading text-center m-v-140">We at GO-JEK are touching people soul by using the power of technology.</p>
    </div>
</div>

<script>
// 1. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 2. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player1, player2, player3;

function onYouTubeIframeAPIReady() {

    player2 = new YT.Player('player2', {
        height: '100%',
        width: '100%',
        videoId: 'xpGWYN5kmdM',
        events: {
            'onStateChange': onPlayerTwoChange
        }
    });

    player3 = new YT.Player('player3', {
        height: '100%',
        width: '100%',
        videoId: 'Jj7PK05_Ow4',
        events: {
            'onStateChange': onPlayerThreeChange
        }
    });

    document.getElementById('js-playbutton2').onclick = function() {
        player2.playVideo();
        var state = this.style.display;
        if (state === 'block') {
            this.style.display = 'none';
        } else {
            this.style.display = 'block';
        }
    };

    function onPlayerTwoChange(event) {
        if (event.data == YT.PlayerState.PAUSED) {
            document.getElementById('js-playbutton2').style.display = 'block';
        }
        if (event.data == YT.PlayerState.PLAYING) {
            document.getElementById('js-playbutton2').style.display = 'none';
        }
    }

    document.getElementById('js-playbutton3').onclick = function() {
        player1.playVideo();
        var state = this.style.display;
        if (state === 'block') {
            this.style.display = 'none';
        } else {
            this.style.display = 'block';
        }
    };

    function onPlayerThreeChange(event) {
        if (event.data == YT.PlayerState.PAUSED) {
            document.getElementById('js-playbutton3').style.display = 'block';
        }
        if (event.data == YT.PlayerState.PLAYING) {
            document.getElementById('js-playbutton3').style.display = 'none';
        }
    }

}
</script>